@import "tailwindcss";

body {
  background-color: darkslateblue;
}

@theme {
  --color-primary: #f3f4f6;
  --color-secondary: #e5e7eb;
  --spacing-left: 12px;
}

/* styles.css */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* Untuk Internet Explorer dan Edge */
  scrollbar-width: none;
  /* Untuk Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Untuk Chrome, Safari, dan Opera */
}